* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background: black;
}
main {
  height: 100%;
  width: 100%;
  max-width: 412px;
  background: black;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  section,
  .container {
    height: 90%;
    width: 100%;
    background: black;
    margin: auto;
    border-radius: 1.5rem;
    overflow: auto;
    scroll-snap-type: y mandatory;

    .reelsParient {
      scroll-snap-align: start;
      margin-bottom: 1rem;
      position: relative;
      color: white;
      height: 100%;
      width: 90%;
      border-radius: 1.5rem;
      border: 1px solid white;
      .videoSec {
        height: 100%;
        width: 100%;
        border-radius: 1.5rem;
        overflow: hidden;

        video {
          object-fit: cover;
          height: 100%;
          width: 100%;
          border-radius: 1rem;
        }
      }
      .bottum {
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.032));
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        padding: 1rem 1.7rem;
        gap: 0.7rem;

        .left {
          img {
            background: black;
            border-radius: 50%;
            aspect-ratio: 1/1;
            object-fit: cover;
            height: 1.5rem;
          }
          display: flex;
          gap: 0.4rem;
          align-items: center;
          p {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 400;
          }
          button {
            padding: 4px 12px;
            background: transparent;
            border: 1px solid white;
            outline: none;
            border-radius: 0.5rem;
            font-family: monospace;
            font-weight: 300;
            cursor: pointer;
            color: white;

            letter-spacing: 1.3px;
            cursor: pointer;
          }
        }
        p {
          font-size: 0.9rem;
          font-family: monospace;
          font-weight: 500;
        }
      }
      .icons {
        position: absolute;
        height: 40%;
        background: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.901),
          rgba(0, 0, 0, 0.27)
        );
        padding: 0 1rem;
        bottom: 2rem;
        right: 0;
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        font-weight: 100;
        gap: 1rem;
        background: transparent !important;
        i {
          cursor: pointer;
          pointer-events: none;
        }

        .icon {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 0.1rem;

          span {
            font-size: 0.7rem;
            pointer-events: none;
          }
          .like {
            cursor: pointer;
            .red {
              color: red;
              transition: color 1s linear;
            }
          }
        }

        // .captionImg {
        //   cursor: pointer;
        //   border-radius: 1rem;
        //   aspect-ratio: 1/1;
        //   height: 2rem;
        //   object-fit: cover;
        // }
      }
    }
  }
  .container::-webkit-scrollbar {
    display: none;
  }
}
.like {
}
