* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background: black;
}
main {
  height: 100%;
  width: 100%;
  max-width: 412px;
  background: black;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  section {
    height: 80%;
    width: 100%;
    background: black;
    margin: auto;
    border-radius: 1.5rem;
    overflow: auto;
    scroll-snap-type: y mandatory;

    .reelsParient {
      scroll-snap-align: start;
      margin-bottom: 1rem;
      position: relative;
      color: white;
      height: 100%;
      width: 90%;
      border-radius: 1.5rem;
      border: 1px solid white;
      .videoSec {
        height: 100%;
        width: 100%;
        border-radius: 1.5rem;
        overflow: hidden;
        video {
          object-fit: cover;
          height: 100%;
          width: 100%;
        }
      }
      .bottum {
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.032));
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        padding: 1rem 1.7rem;
        gap: 0.7rem;

        .left {
          img {
            background: black;
            border-radius: 50%;
            aspect-ratio: 1/1;
            object-fit: cover;
            height: 1.5rem;
          }
          display: flex;
          gap: 0.4rem;
          align-items: center;
          p {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 400;
          }
          button {
            padding: 4px 12px;
            background: transparent;
            border: 1px solid white;
            outline: none;
            border-radius: 0.5rem;
            font-family: monospace;
            font-weight: 600;
            cursor: pointer;
            color: white;
            font-variant: small-caps;
            letter-spacing: 1.3px;
          }
        }
        p {
          font-size: 0.9rem;
          font-family: monospace;
          font-weight: 500;
        }
      }
      .icons {
        position: absolute;
        height: 40%;
        background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.032));
        padding: 0 1rem;
        bottom: 2rem;
        right: 0;
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        font-weight: 100;
        gap: 1.3rem;
        i {
          cursor: pointer;
        }
        .red {
          color: red;
        }
        .icon {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 0.1rem;
          span {
            font-size: 0.7rem;
          }
        }

        // .captionImg {
        //   cursor: pointer;
        //   border-radius: 1rem;
        //   aspect-ratio: 1/1;
        //   height: 2rem;
        //   object-fit: cover;
        // }
      }
    }
  }
  section::-webkit-scrollbar {
    display: none;
  }
}
